.textarea {
  display: inline-block;
  width: 100%;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  background: var(--white);
  color: var(--black);
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  outline-color: var(--primary);
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 22px;
  resize: none;
}

.textarea::placeholder {
  color: var(--gray);
}

.error {
  border: 1px solid var(--red);
}

.textareaWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--red);
}
