.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.firstLevelList {
  padding: 0;
  list-style: none;
}

.secondLevel {
  margin-bottom: 10px;
  padding: 0;
  border: none;
  background: none;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 0 0 32px;
  border-left: 1px solid #DFDFDF;
  list-style: none;
}

.secondLevelBlock {
  overflow: hidden;
  padding: 0;
  list-style: none;

  /* display: none; */
}

/* .secondLevelBlockOpened {
	display: block;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
} */

.thirdLevel {
  display: block;
  margin-bottom: 10px;
  color: var(--gray-dark);

  /* line-height: 19px; */
  outline-offset: -1px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
